# ===========================================
# ProjectA (Bookshop)
# ===========================================
PROJECTA_SECRET_KEY=change-me-in-production-projecta
PROJECTA_DEBUG=1
PROJECTA_ALLOWED_HOSTS=localhost,127.0.0.1,projecta,nginx

PROJECTA_DB_NAME=bookshop
PROJECTA_DB_USER=bookshop
PROJECTA_DB_PASSWORD=bookshop_pwd
PROJECTA_DB_HOST=postgres_a
PROJECTA_DB_PORT=5432

PROJECTA_REDIS_URL=redis://redis_a:6379/0
PROJECTA_CELERY_BROKER=redis://redis_a:6379/1
PROJECTA_CELERY_BACKEND=redis://redis_a:6379/2

PROJECTA_SENTRY_DSN=

# JWT
JWT_SIGNING_KEY=shared-jwt-signing-key-change-me
JWT_ACCESS_TOKEN_LIFETIME=60
JWT_REFRESH_TOKEN_LIFETIME=1440

# ===========================================
# ProjectB (Warehouse)
# ===========================================
PROJECTB_SECRET_KEY=change-me-in-production-projectb
PROJECTB_DEBUG=1
PROJECTB_ALLOWED_HOSTS=localhost,127.0.0.1,projectb,nginx

PROJECTB_DB_NAME=warehouse
PROJECTB_DB_USER=warehouse
PROJECTB_DB_PASSWORD=warehouse_pwd
PROJECTB_DB_HOST=postgres_b
PROJECTB_DB_PORT=5432

PROJECTB_REDIS_URL=redis://redis_b:6379/0
PROJECTB_CELERY_BROKER=redis://redis_b:6379/1
PROJECTB_CELERY_BACKEND=redis://redis_b:6379/2

PROJECTB_SENTRY_DSN=

# Cross-service comms
PROJECTA_INTERNAL_URL=http://projecta:8000
PROJECTB_INTERNAL_URL=http://projectb:8001
LOW_STOCK_THRESHOLD=10

# Frontend
VITE_API_BASE_URL=http://localhost/api
